<!DOCTYPE html>
<html>
<head>
    <title id = "team-title"> One team </title>
    <link rel="stylesheet" href="../static/css/one_team.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
    <!-- Title name -->
    <h1 id = "team-name"> Team name </h1>

    <div id = "page-layout">
        <div id = "left-section">

            <!--                            left section-->
             <!-- 6 character slots -->
            <div id = "team-container">

                <div class="slot-wrapper filled has-ll has-zenkai" data-slot="1">
                    <img class="zenkai-icon" src="../static/assets/ui/badges/ZENKAI.png">
                    <img class="ll-icon" src="../static/assets/ui/badges/Legends_Limited.png">

                    <img class="rarity-icon hidden" src="">

                    <div class="slot">
                        <img class="character-img" src="../static/assets/character/images/Kefla.png">
                    </div>

                    <img class="color-icon primary" src="../static/assets/ui/character_color/BLUE.png">
                    <img class="color-icon secondary" src="../static/assets/ui/character_color/PURPLE.png">
                </div>
                
                <div class="slot-wrapper empty" data-slot="1">
                    <img class="zenkai-icon hidden" src="../static/assets/ui/badges/ZENKAI.png">
                    <img class="ll-icon hidden" src="../static/assets/ui/badges/Legends_Limited.png">

                    <img class="rarity-icon hidden" src="">
                    <div class="slot"></div>
                    <img class="color-icon primary" src="../static/assets/ui/character_color/BLUE.png">
                    <img class="color-icon secondary" src="../static/assets/ui/character_color/PURPLE.png">
                </div>
                
                <div class="slot-wrapper empty" data-slot="1">
                    <img class="zenkai-icon hidden" src="../static/assets/ui/badges/ZENKAI.png">
                    <img class="ll-icon hidden" src="../static/assets/ui/badges/Legends_Limited.png">

                    <img class="rarity-icon hidden" src="">
                    <div class="slot"></div>
                    <img class="color-icon primary" src="../static/assets/ui/character_color/BLUE.png">
                    <img class="color-icon secondary" src="../static/assets/ui/character_color/PURPLE.png">
                </div>

                <div class="slot-wrapper empty" data-slot="1">
                    <img class="zenkai-icon hidden" src="../static/assets/ui/badges/ZENKAI.png">
                    <img class="ll-icon hidden" src="../static/assets/ui/badges/Legends_Limited.png">

                    <img class="rarity-icon hidden" src="">
                    <div class="slot"></div>
                    <img class="color-icon primary" src="../static/assets/ui/character_color/BLUE.png">
                    <img class="color-icon secondary" src="../static/assets/ui/character_color/PURPLE.png">
                </div>

                <div class="slot-wrapper empty" data-slot="1">
                    <img class="zenkai-icon hidden" src="../static/assets/ui/badges/ZENKAI.png">
                    <img class="ll-icon hidden" src="../static/assets/ui/badges/Legends_Limited.png">

                    <img class="rarity-icon hidden" src="">
                    <div class="slot"></div>
                    <img class="color-icon primary" src="../static/assets/ui/character_color/BLUE.png">
                    <img class="color-icon secondary" src="../static/assets/ui/character_color/PURPLE.png">
                </div>

                <div class="slot-wrapper empty" data-slot="1">
                    <img class="zenkai-icon hidden" src="../static/assets/ui/badges/ZENKAI.png">
                    <img class="ll-icon hidden" src="../static/assets/ui/badges/Legends_Limited.png">

                    <img class="rarity-icon hidden" src="">
                    <div class="slot"></div>
                    <img class="color-icon primary" src="../static/assets/ui/character_color/BLUE.png">
                    <img class="color-icon secondary" src="../static/assets/ui/character_color/PURPLE.png">
                </div>
                
            
            </div>


            <!--                Benches              -->

            <div id = "bench-section">
                <h3 id = "bench-label"> Benches </h3>

                <div id = "bench-container">

                    <div class="bench-slot-wrapper filled has-ll has-zenkai" data-slot="1">
                        <img class="zenkai-icon" src="../static/assets/ui/badges/ZENKAI.png">
                        <img class="ll-icon" src="../static/assets/ui/badges/Legends_Limited.png">

                        <img class="rarity-icon hidden" src="">
                        <div class="b-slot">
                            <img class="character-img" src="../static/assets/character/images/Kefla.png">
                        </div>
                        <img class="color-icon primary" src="../static/assets/ui/character_color/BLUE.png">
                        <img class="color-icon secondary" src="../static/assets/ui/character_color/PURPLE.png">
                    </div>

                    

                    <div class="bench-slot-wrapper empty" data-bench-slot="1">
                        <img class="zenkai-icon hidden" src="../static/assets/ui/badges/ZENKAI.png">
                        <img class="ll-icon hidden" src="../static/assets/ui/badges/Legends_Limited.png">
                        
                        <img class="rarity-icon bench-icon hidden" src="">
                        <div class="b-slot"></div>
                        <img class="color-icon primary" src="../static/assets/ui/character_color/BLUE.png">
                        <img class="color-icon secondary" src="../static/assets/ui/character_color/PURPLE.png">
                    </div>

                    <div class="bench-slot-wrapper empty" data-bench-slot="1">
                        <img class="zenkai-icon hidden" src="../static/assets/ui/badges/ZENKAI.png">
                        <img class="ll-icon hidden" src="../static/assets/ui/badges/Legends_Limited.png">
                        
                        <img class="rarity-icon bench-icon hidden" src="">
                        <div class="b-slot"></div>
                        <img class="color-icon primary" src="../static/assets/ui/character_color/BLUE.png">
                        <img class="color-icon secondary" src="../static/assets/ui/character_color/PURPLE.png">
                    </div>

                    <div class="bench-slot-wrapper empty" data-bench-slot="1">
                        <img class="zenkai-icon hidden" src="../static/assets/ui/badges/ZENKAI.png">
                        <img class="ll-icon hidden" src="../static/assets/ui/badges/Legends_Limited.png">
                        
                        <img class="rarity-icon bench-icon hidden" src="">
                        <div class="b-slot"></div>
                        <img class="color-icon primary" src="../static/assets/ui/character_color/BLUE.png">
                        <img class="color-icon secondary" src="../static/assets/ui/character_color/PURPLE.png">
                    </div>

                    <div class="bench-slot-wrapper empty" data-bench-slot="1">
                        <img class="zenkai-icon hidden" src="../static/assets/ui/badges/ZENKAI.png">
                        <img class="ll-icon hidden" src="../static/assets/ui/badges/Legends_Limited.png">
                        
                        <img class="rarity-icon bench-icon hidden" src="">
                        <div class="b-slot"></div>
                        <img class="color-icon primary" src="../static/assets/ui/character_color/BLUE.png">
                        <img class="color-icon secondary" src="../static/assets/ui/character_color/PURPLE.png">
                    </div>

                    <div class="bench-slot-wrapper empty" data-bench-slot="1">
                        <img class="zenkai-icon hidden" src="../static/assets/ui/badges/ZENKAI.png">
                        <img class="ll-icon hidden" src="../static/assets/ui/badges/Legends_Limited.png">
                        
                        <img class="rarity-icon bench-icon hidden" src="">
                        <div class="b-slot"></div>
                        <img class="color-icon primary" src="../static/assets/ui/character_color/BLUE.png">
                        <img class="color-icon secondary" src="../static/assets/ui/character_color/PURPLE.png">
                    </div>

                    <div class="bench-slot-wrapper empty" data-bench-slot="1">
                        <img class="zenkai-icon hidden" src="../static/assets/ui/badges/ZENKAI.png">
                        <img class="ll-icon hidden" src="../static/assets/ui/badges/Legends_Limited.png">
                        
                        <img class="rarity-icon bench-icon hidden" src="">
                        <div class="b-slot"></div>
                        <img class="color-icon primary" src="../static/assets/ui/character_color/BLUE.png">
                        <img class="color-icon secondary" src="../static/assets/ui/character_color/PURPLE.png">
                    </div>

                    <div class="bench-slot-wrapper empty" data-bench-slot="1">
                        <img class="zenkai-icon hidden" src="../static/assets/ui/badges/ZENKAI.png">
                        <img class="ll-icon hidden" src="../static/assets/ui/badges/Legends_Limited.png">
                        
                        <img class="rarity-icon bench-icon hidden" src="">
                        <div class="b-slot"></div>
                        <img class="color-icon primary" src="../static/assets/ui/character_color/BLUE.png">
                        <img class="color-icon secondary" src="../static/assets/ui/character_color/PURPLE.png">
                    </div>

        
                </div>
                
            </div>

            <div id="notes-section">
                <h3>Notes</h3>
                <textarea id="team-notes" placeholder="Write team notes here..."></textarea>
            </div>

            

        </div>
        
        <!--                  divider line -->
        <div id = "divider">

        </div>
        


        <!--                     Right side -->
        <div id="right-section">

            <div id="choice-header">
                <h2>1st Choice</h2>
                <h2>2nd Choice</h2>
            </div>

            <div class="choice-row">
                <img class="choice-color" src="../static/assets/ui/character_color/RED.png">

                <div class="choice-group">
                    <div class="choice-character filled has-ll has-zenkai">

                        <img class="zenkai-icon" src="../static/assets/ui/badges/ZENKAI.png">
                        <img class="ll-icon" src="../static/assets/ui/badges/Legends_Limited.png">

                        <div class="choice-slot">
                            <img class="character-img" src="../static/assets/character/images/Kefla.png">
                        </div>

                    </div>
                    
                    <div class="choice-character filled has-ll has-zenkai">

                        <img class="zenkai-icon" src="../static/assets/ui/badges/ZENKAI.png">
                        <img class="ll-icon" src="../static/assets/ui/badges/Legends_Limited.png">

                        <div class="choice-slot">
                            <img class="character-img" src="../static/assets/character/images/Gogeta.png">
                        </div>

                    </div>
                </div>

                <div class="choice-group">
                    <div class="choice-character empty">
                        <div class="choice-slot"></div>
                    </div>
                    <div class="choice-character empty">
                        <div class="choice-slot"></div>
                    </div>
                    <div class="choice-character empty">
                        <div class="choice-slot"></div>
                    </div>
                </div>
            </div>

            <div class="choice-row">
                <img class="choice-color" src="../static/assets/ui/character_color/GREEN.png">

                <div class="choice-group">
                    <div class="choice-character empty">
                        <div class="choice-slot"></div>
                    </div>
                    <div class="choice-character empty">
                        <div class="choice-slot"></div>
                    </div>
                </div>

                <div class="choice-group">
                    <div class="choice-character empty">
                        <div class="choice-slot"></div>
                    </div>
                    <div class="choice-character empty">
                        <div class="choice-slot"></div>
                    </div>
                    <div class="choice-character empty">
                        <div class="choice-slot"></div>
                    </div>
                </div>
            </div>

            <div class="choice-row">
                <img class="choice-color" src="../static/assets/ui/character_color/YELLOW.png">

                <div class="choice-group">
                    <div class="choice-character empty">
                        <div class="choice-slot"></div>
                    </div>
                    <div class="choice-character empty">
                        <div class="choice-slot"></div>
                    </div>
                </div>

                <div class="choice-group">
                    <div class="choice-character empty">
                        <div class="choice-slot"></div>
                    </div>
                    <div class="choice-character empty">
                        <div class="choice-slot"></div>
                    </div>
                    <div class="choice-character empty">
                        <div class="choice-slot"></div>
                    </div>
                </div>
            </div>

            <div class="choice-row">
                <img class="choice-color" src="../static/assets/ui/character_color/BLUE.png">

                <div class="choice-group">
                    <div class="choice-character empty">
                        <div class="choice-slot"></div>
                    </div>
                    <div class="choice-character empty">
                        <div class="choice-slot"></div>
                    </div>
                </div>

                <div class="choice-group">
                    <div class="choice-character empty">
                        <div class="choice-slot"></div>
                    </div>
                    <div class="choice-character empty">
                        <div class="choice-slot"></div>
                    </div>
                    <div class="choice-character empty">
                        <div class="choice-slot"></div>
                    </div>
                </div>
            </div>

            <div class="choice-row">
                <img class="choice-color" src="../static/assets/ui/character_color/PURPLE.png">

                <div class="choice-group">
                    <div class="choice-character empty">
                        <div class="choice-slot"></div>
                    </div>
                    <div class="choice-character empty">
                        <div class="choice-slot"></div>
                    </div>
                </div>

                <div class="choice-group">
                    <div class="choice-character empty">
                        <div class="choice-slot"></div>
                    </div>
                    <div class="choice-character empty">
                        <div class="choice-slot"></div>
                    </div>
                    <div class="choice-character empty">
                        <div class="choice-slot"></div>
                    </div>
                </div>
            </div>

            <div class="choice-row">
                <img class="choice-color" src="../static/assets/ui/character_color/LIGHT.png">

                <div class="choice-group">
                    <div class="choice-character empty">
                        <div class="choice-slot"></div>
                    </div>
                    <div class="choice-character empty">
                        <div class="choice-slot"></div>
                    </div>
                </div>

                <div class="choice-group">
                    <div class="choice-character empty">
                        <div class="choice-slot"></div>
                    </div>
                    <div class="choice-character empty">
                        <div class="choice-slot"></div>
                    </div>
                    <div class="choice-character empty">
                        <div class="choice-slot"></div>
                    </div>
                </div>
            </div>

        </div>

        <!--right side-->




    </div>
    
    


    
   <script src="../static/js/one_team.js" defer></script>
</body>